*{
    font-family: 'Comforta',cursive;
}
html,
h1{
    color: green;
}
h2,
h3,
h4,
h5,
h6 {
    color: seashell;
}
body{
    background: aqua;
}
a{
    text-decoration: none;
    color: inherit;
}
header h1{
    background: green;
    height: 70px;
}